@import "variables";
@import "mixins";

// * {
//     border: 1px solid salmon;
// }

html {
  font-size: 125%;
  text-align: center;
//   scroll-behavior: smooth;
}

main {
  height: 90vh;
}

img {
    display: block;
}

section {
    border: 2px solid salmon;
    margin: 25px 0;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.resultsList {
    display: flex;
    ul {
        width: 50%;
        &:nth-child(1){
            padding-right: 10px;
            border-right: 2px solid black;
            text-align: right;
        }
        &:nth-child(2){
            width: calc(50% - 2px);
            padding-left: 10px;
            text-align: left;
        }
    }
}

.displayNone {
    display: none;
}

.visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
