@import "variables";
@import "mixins";

header {
  height: 100vh;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
};

.headerContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-family: $titleFont, serif;
    font-size: 2rem;
    color: $textColor;
    text-shadow: 2px 2px $hightlightColor;  
  };

  p {
    color: $textColor;
    background: rgba($color: #000, $alpha: 0.5);
    padding: 5px;
    border-radius: 5px;
  }

  img {
    width: 80%;
    height: auto;
    max-width: 400px;
    min-width: 200px;
  };
};

form {
  display: flex;
  flex-direction: column;
  @include centerFlexChildren;

  input {
    font-family: $bodyFont;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    color: $textColor;
    background: rgba($color: #000, $alpha: 0.5);
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid lighten($color: $hightlightColor, $amount: 50);
    margin: 0 0 50px 0;
    padding: 5px 0;
    width: 70%;
    &::placeholder {
      color: $textColor;
      opacity: 1;
    };
  };

  button {
    font-family: $titleFont;
    color: $textColor;
    background-color: $hightlightColor;
    border-radius: 10px;
    padding: 10px;
    &:hover {
      background: lighten($color: $hightlightColor, $amount: 50);
    };
  };
};