@import "variables";
@import "mixins";

.resultsSection { 
  background: black;
  color: $textColor;

  h2 {
    display: inline-block;
    padding: 40px 0;
    width: 100%;
    font-family: $titleFont, serif;
    font-size: 1.4rem;
    text-align: center;
    position: absolute;
    left: 0;
  }

  main {
    height: 92.5%;
    
    section {
      margin: 20px 0;
    };
  };

  footer {
    height: 7.5%;
    padding: 5px;
  };

  @include width-850px {
    height: 100vh;
  };
};

.resultsContainer {
  padding: 150px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  img {
    height: 200px;
    width: 250px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 10px;
  };

  @include width-666px {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  };

  @include width-870px {
    padding: 130px 0 0 0;
    flex-wrap: none;
    justify-content: space-between;
    .marsResults {
      order: 3;
    };
    .difference {
      order: 2;
    };
  };
};

.resultsList {
  display: flex;
  ul {
    width: 50%;
    &:nth-child(1) {
      padding-right: 10px;
      border-right: 2px solid white;
      text-align: right;
    };
    &:nth-child(2) {
      width: calc(50% - 2px);
      padding-left: 10px;
      text-align: left;
    };
  };
};

.toggleTempScale {
  margin: 15px 0 30px 0;
  max-width: 80%;
  font-size: 0.8rem;
  font-family: $titleFont;
  color: $textColor;
  background-color: $hightlightColor;
  border-radius: 10px;
  padding: 10px;
  &:hover,
  &:focus {
    background: lighten($color: $hightlightColor, $amount: 50);
    transform: scale(1.05);
    cursor: pointer;
  };
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  p {
    display: inline-block;
    padding: 0 0 1px 0;
    .copyright {
      font-size: 1rem;
      position: relative;
    }
    a {
      color: $textColor;
      text-decoration: none;
      border-bottom: 1.5px solid lighten($color: $hightlightColor, $amount: 50);
    }
  };
};