// Commonly used colors, fonts, and styles

@font-face {
  font-family: "outerSpace";
  src: url(../assets/outerSpace.ttf);
}

$titleFont: "outerSpace";
$bodyFont: "Space Mono", monospace;

$hightlightColor: #281C3C;