@font-face {
  font-family: "outerSpace";
  src: url(../assets/outerSpace.ttf);
}

$titleFont: "outerSpace";
$bodyFont: "Space Mono", monospace;

$hightlightColor: rgb(31, 0, 53);
$textColor: #fff;

span {
  color:white;
}