@font-face {
  font-family: "outerSpace";
  src: url(../assets/outerSpace.ttf);
}

$titleFont: "outerSpace";
$bodyFont: "Space Mono", monospace;

$hightlightColor: rgb(44, 4, 52);
$lighterHighlight: lighten($color: $hightlightColor, $amount: 50);
$textColor: #fff;